*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: linear-gradient(45deg, #81B2A3, #6AA6A4 , #5899A1, #5597A0, #3B8EA5, #3887A0, #34809A, #317995);
}
main{
    text-align: center;
    margin-top: 250px;
}

main h1{
    font-size: 60;
}

main .container{
    margin-top: 40px;
}

main .container button{
    padding: 10 5;
    background: rgb(89, 192, 89);
    border: none;
    border-radius: 6px;
    font-size: 15;
}

main .container button:hover{
    transition: 0.3s;
    font-size: 17;
}